Source: pythran
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Diego M. Rodriguez <diego@moreda.io>
Build-Depends:
 debhelper-compat (=13),
 dh-python,
 pybuild-plugin-pyproject,
 libblas-dev | libopenblas-dev | libblis-dev | libblas.so,
 libboost-dev,
 libxsimd-dev (>= 10.0.0~),
 python3-all-dev,
 python3-beniget (>= 0.4.0~),
 python3-gast (>= 0.5.0~),
 python3-guzzle-sphinx-theme <!nodoc>,
 python3-numpy,
 python3-pip,
 python3-ply (>= 3.4~),
 python3-pytest <!nocheck>,
 python3-setuptools,
 python3-sphinx <!nodoc>,
Build-Depends-Indep:
 python3-nbsphinx <!nodoc>,
 pandoc <!nodoc>
Standards-Version: 4.7.0
Homepage: https://github.com/serge-sans-paille/pythran
Vcs-Git: https://salsa.debian.org/python-team/packages/pythran.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/pythran
Rules-Requires-Root: no

Package: python3-pythran
Architecture: any
Depends:
 g++ | c++-compiler,
 libopenblas-dev | libblis-dev | libblas-dev | libblas.so,
 libboost-dev,
 python3-all-dev,
 python3-setuptools,
 libxsimd-dev (>= 10.0.0~),
 ${misc:Depends},
 ${python3:Depends},
Description: ahead of time compiler for Python
 Pythran is an ahead of time compiler for a subset of the Python
 language, with a focus on scientific computing. It takes a Python
 module annotated with a few interface descriptions and turns it into a
 native Python module with the same interface, but (hopefully) faster.
 .
 This package contains the Python 3 version of the library.

Package: python-pythran-doc
Architecture: all
Section: doc
Depends:
 libjs-mathjax,
 python3-guzzle-sphinx-theme,
 ${misc:Depends},
 ${sphinxdoc:Depends}
Multi-Arch: foreign
Description: ahead of time compiler for Python (Documentation)
 Pythran is an ahead of time compiler for a subset of the Python
 language, with a focus on scientific computing. It takes a Python
 module annotated with a few interface descriptions and turns it into a
 native Python module with the same interface, but (hopefully) faster.
 .
 This package contains the documentation.
